# Data files (quá lớn, không commit)
*.csv
*.parquet
*.duckdb

# Environment
.env
__pycache__/
*.pyc
.ipynb_checkpoints/

# dbt
target/
dbt_packages/
logs/
dbt_project/ecommerce_dw/target/
dbt_project/ecommerce_dw/dbt_packages/
dbt_project/ecommerce_dw/logs/

# Python
venv/
.venv/
